.container.custom-container {
  width: 60%;
}

body {
  font-family: Courier New !important;
}

img {
  width: 100%;
  height: auto;
}

.col-md-5,
.col-md-7,
.col-sm-6 {
  padding: 0 !important;
  margin: 0 !important;
}

#caption1 {
  text-align: left;
  background: black;
  color: white;
  padding: 5px;
  width: 140px;
}

#about {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.divCaption {
  position: relative;
}

.custom-caption {
  position: absolute;
  text-decoration: none !important;
  bottom: 20px;
  font-size: 20px;
  padding: 5px;
  left: 20px;
  color: white;
  background: black;
}

.custom-caption:hover {
  color: grey;
}

p {
  font-family: Courier New;
  color: #383838;
  font-size: 15px;
  max-width: 95%;
}
